In [113]:
import pyodbc

In [114]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'ODBC Driver 18 for SQL Server']

In [115]:
server = 'tcp:localhost,1433'
database = 'MicrosoftDynamicsAX'
username = 'sa'
password = 'testpassword'
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [116]:
command = "select count(*) from dbo.RETAILTRANSACTIONTABLE;"
cursor.execute(command)

for value in cursor:
    print(value)

(5511, )

In [117]:
import pandas as pd

In [118]:
command = "select * from dbo.RETAILTRANSACTIONTABLE;"

In [119]:
df = pd.read_sql(command, cnxn)

c:\Users\mohse\Documents\dev\python_projects\generalenv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [120]:
df.head()

,INVOICEID,TRANSACTIONID,TYPE,RECEIPTID,STORE,TERMINAL,STAFF,TRANSDATE,TRANSTIME,SHIFT,...,MODIFIEDDATETIME,DEL_MODIFIEDTIME,MODIFIEDBY,CREATEDDATETIME,DEL_CREATEDTIME,CREATEDBY,DATAAREAID,RECVERSION,PARTITION,RECID
0,,1002_8-1002_8_01-1000,2,,1002_8,1002_8_01,000001,2021-11-13,42101,,...,2022-02-14 08:06:28,0,Me.Zaman,2022-02-14 08:06:28,0,Me.Zaman,osh,1,5637144576,5637144576
1,,1002_8-1002_8_01-1001,0,,1002_8,1002_8_01,000001,2021-11-13,42421,,...,2022-02-14 08:06:28,0,Me.Zaman,2022-02-14 08:06:28,0,Me.Zaman,osh,1,5637144576,5637144577
2,,1002_8-1002_8_01-1002,1,,1002_8,1002_8_01,000001,2021-11-13,42456,,...,2022-02-14 08:06:28,0,Me.Zaman,2022-02-14 08:06:28,0,Me.Zaman,osh,1,5637144576,5637144578
3,,1002_8-1002_8_01-1003,2,,1002_8,1002_8_01,000001,2021-11-13,42481,,...,2022-02-14 08:06:28,0,Me.Zaman,2022-02-14 08:06:28,0,Me.Zaman,osh,1,5637144576,5637144579
4,,1002_8-1002_8_01-1004,0,,1002_8,1002_8_01,000001,2021-11-13,42669,,...,2022-02-14 08:06:28,0,Me.Zaman,2022-02-14 08:06:28,0,Me.Zaman,osh,1,5637144576,5637144580

In [121]:
df.describe()

,TYPE,TRANSTIME,WRONGSHIFT,TRANSCODE,SALESPAYMENTDIFFERENCE,NETAMOUNT,COSTAMOUNT,GROSSAMOUNT,PAYMENTAMOUNT,DISCAMOUNT,...,TOTALMANUALDISCOUNTPERCENTAGE,CUSTOMERORDERMODE,CUSTOMERORDERTYPE,SUBTYPE,TAXCALCULATIONTYPE,DEL_MODIFIEDTIME,DEL_CREATEDTIME,RECVERSION,PARTITION,RECID
count,5511.000000,5511.000000,5511.0,5511.0,5.511000e+03,5.511000e+03,5511.0,5.511000e+03,5.511000e+03,5.511000e+03,...,5511.0,5511.0,5511.0,5511.0,5511.0,5511.0,5511.0,5511.0,5.511000e+03,5.511000e+03
mean,1.705680,51857.236981,0.0,0.0,4.266385e+02,-3.397015e+06,0.0,-3.426661e+06,6.229826e+05,2.669023e+04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.637145e+09,5.637147e+09
std,3.545776,13492.846080,0.0,0.0,2.484795e+04,3.953531e+07,0.0,3.958899e+07,2.123532e+07,2.440134e+05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,1.591033e+03
min,0.000000,82.000000,0.0,0.0,0.000000e+00,-1.502717e+09,0.0,-1.502719e+09,-3.460575e+06,-1.000000e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.637145e+09,5.637145e+09
25%,0.000000,41222.500000,0.0,0.0,0.000000e+00,-3.000000e+04,0.0,-3.000000e+04,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.637145e+09,5.637146e+09
50%,1.000000,52644.000000,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.637145e+09,5.637147e+09
75%,2.000000,60636.500000,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.637145e+09,5.637149e+09
max,30.000000,86372.000000,0.0,0.0,1.782200e+06,3.460575e+06,0.0,3.460575e+06,1.502719e+09,9.000000e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.637145e+09,5.637150e+09

In [122]:
df.columns

Index(['INVOICEID', 'TRANSACTIONID', 'TYPE', 'RECEIPTID', 'STORE', 'TERMINAL',
       'STAFF', 'TRANSDATE', 'TRANSTIME', 'SHIFT', 'SHIFTDATE', 'WRONGSHIFT',
       'INFOCODEDISCGROUP', 'CUSTACCOUNT', 'TRANSCODE',
       'SALESPAYMENTDIFFERENCE', 'NETAMOUNT', 'COSTAMOUNT', 'GROSSAMOUNT',
       'PAYMENTAMOUNT', 'DISCAMOUNT', 'CUSTDISCAMOUNT', 'TOTALDISCAMOUNT',
       'NUMBEROFITEMS', 'AMOUNTTOACCOUNT', 'ROUNDEDAMOUNT', 'ENTRYSTATUS',
       'NUMBEROFINVOICES', 'NUMBEROFITEMLINES', 'STATEMENTCODE', 'STATEMENTID',
       'REFUNDRECEIPTID', 'INCOMEEXPENSEAMOUNT', 'TOACCOUNT',
       'NUMBEROFPAYMENTLINES', 'SALEISRETURNSALE', 'COUNTER',
       'TIMEWHENTOTALPRESSED', 'TIMEWHENTRANSCLOSED', 'CURRENCY',
       'TRANSTABLEID', 'OPENDRAWER', 'REPLICATED', 'INCLUDEDINSTATISTICS',
       'RETRIEVEDFROMRECEIPTID', 'CREATEDONPOSTERMINAL', 'POSTASSHIPMENT',
       'ITEMSPOSTED', 'REPLICATIONCOUNTERFROMORIGIN', 'SELLTOCONTACTID',
       'LOYALTYCARDID', 'CUSTPURCHASEORDER', 'COMMENT_', 'SALESORDERAMOUNT',
       'SALESINVOICEAMOUNT', 'RECEIPTEMAIL', 'RECEIPTEMAILSENT', 'EXCHRATE',
       'SALESORDERID', 'BATCHID', 'BATCHTERMINALID', 'BUSINESSDATE', 'CHANNEL',
       'CHANNELREFERENCEID', 'CREATEDOFFLINE', 'DEFAULTDIMENSION',
       'DESCRIPTION', 'DLVMODE', 'FISCALDOCUMENTID', 'FISCALSERIALID',
       'INVENTLOCATIONID', 'INVENTSITEID', 'INVOICECOMMENT',
       'LOGISTICSPOSTALADDRESS', 'LOYALTYDISCAMOUNT_RU', 'ORIGIN',
       'RECEIPTDATEREQUESTED', 'SHIPPINGDATEREQUESTED', 'SKIPAGGREGATION',
       'TOTALMANUALDISCOUNTAMOUNT', 'TOTALMANUALDISCOUNTPERCENTAGE',
       'CUSTACCOUNTASYNC', 'CUSTOMERORDERMODE', 'CUSTOMERORDERTYPE', 'SUBTYPE',
       'TAXCALCULATIONTYPE', 'MODIFIEDDATETIME', 'DEL_MODIFIEDTIME',
       'MODIFIEDBY', 'CREATEDDATETIME', 'DEL_CREATEDTIME', 'CREATEDBY',
       'DATAAREAID', 'RECVERSION', 'PARTITION', 'RECID'],
      dtype='object')

In [123]:
len(df.columns)

96

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5511 entries, 0 to 5510
Data columns (total 96 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INVOICEID                      5511 non-null   object
 1   TRANSACTIONID                  5511 non-null   object
 2   TYPE                           5511 non-null   int64
 3   RECEIPTID                      5511 non-null   object
 4   STORE                          5511 non-null   object
 5   TERMINAL                       5511 non-null   object
 6   STAFF                          5511 non-null   object
 7   TRANSDATE                      5511 non-null   datetime64[ns]
 8   TRANSTIME                      5511 non-null   int64
 9   SHIFT                          5511 non-null   object
 10  SHIFTDATE                      5511 non-null   datetime64[ns]
 11  WRONGSHIFT                     5511 non-null   int64
 12  INFOCODEDISCGROUP              5511 non-null   object
 13  CUSTACCOUNT                    5511 non-null   object
 14  TRANSCODE                      5511 non-null   int64
 15  SALESPAYMENTDIFFERENCE         5511 non-null   float64
 16  NETAMOUNT                      5511 non-null   float64
 17  COSTAMOUNT                     5511 non-null   float64
 18  GROSSAMOUNT                    5511 non-null   float64
 19  PAYMENTAMOUNT                  5511 non-null   float64
 20  DISCAMOUNT                     5511 non-null   float64
 21  CUSTDISCAMOUNT                 5511 non-null   float64
 22  TOTALDISCAMOUNT                5511 non-null   float64
 23  NUMBEROFITEMS                  5511 non-null   float64
 24  AMOUNTTOACCOUNT                5511 non-null   float64
 25  ROUNDEDAMOUNT                  5511 non-null   float64
 26  ENTRYSTATUS                    5511 non-null   int64
 27  NUMBEROFINVOICES               5511 non-null   int64
 28  NUMBEROFITEMLINES              5511 non-null   float64
 29  STATEMENTCODE                  5511 non-null   object
 30  STATEMENTID                    5511 non-null   object
 31  REFUNDRECEIPTID                5511 non-null   object
 32  INCOMEEXPENSEAMOUNT            5511 non-null   float64
 33  TOACCOUNT                      5511 non-null   int64
 34  NUMBEROFPAYMENTLINES           5511 non-null   int64
 35  SALEISRETURNSALE               5511 non-null   int64
 36  COUNTER                        5511 non-null   int64
 37  TIMEWHENTOTALPRESSED           5511 non-null   int64
 38  TIMEWHENTRANSCLOSED            5511 non-null   int64
 39  CURRENCY                       5511 non-null   object
 40  TRANSTABLEID                   5511 non-null   int64
 41  OPENDRAWER                     5511 non-null   int64
 42  REPLICATED                     5511 non-null   int64
 43  INCLUDEDINSTATISTICS           5511 non-null   int64
 44  RETRIEVEDFROMRECEIPTID         5511 non-null   object
 45  CREATEDONPOSTERMINAL           5511 non-null   object
 46  POSTASSHIPMENT                 5511 non-null   int64
 47  ITEMSPOSTED                    5511 non-null   int64
 48  REPLICATIONCOUNTERFROMORIGIN   5511 non-null   int64
 49  SELLTOCONTACTID                5511 non-null   object
 50  LOYALTYCARDID                  5511 non-null   object
 51  CUSTPURCHASEORDER              5511 non-null   object
 52  COMMENT_                       5511 non-null   object
 53  SALESORDERAMOUNT               5511 non-null   float64
 54  SALESINVOICEAMOUNT             5511 non-null   float64
 55  RECEIPTEMAIL                   5511 non-null   object
 56  RECEIPTEMAILSENT               5511 non-null   int64
 57  EXCHRATE                       5511 non-null   float64
 58  SALESORDERID                   5511 non-null   object
 59  BATCHID                        5511 non-null   int64
 60  BATCHTERMINALID                5511 non-null   object
 61  BUSINESSDATE                   5511 non-null   datetime64[ns]
 62  CHANNEL                        5511 non-null   int64
 63  CHANNELREFERENCEID             5511 non-null   object
 64  CREATEDOFFLINE                 5511 non-null   int64
 65  DEFAULTDIMENSION               5511 non-null   int64
 66  DESCRIPTION                    5511 non-null   object
 67  DLVMODE                        5511 non-null   object
 68  FISCALDOCUMENTID               5511 non-null   object
 69  FISCALSERIALID                 5511 non-null   object
 70  INVENTLOCATIONID               5511 non-null   object
 71  INVENTSITEID                   5511 non-null   object
 72  INVOICECOMMENT                 5511 non-null   object
 73  LOGISTICSPOSTALADDRESS         5511 non-null   int64
 74  LOYALTYDISCAMOUNT_RU           5511 non-null   float64
 75  ORIGIN                         5511 non-null   object
 76  RECEIPTDATEREQUESTED           5511 non-null   datetime64[ns]
 77  SHIPPINGDATEREQUESTED          5511 non-null   datetime64[ns]
 78  SKIPAGGREGATION                5511 non-null   int64
 79  TOTALMANUALDISCOUNTAMOUNT      5511 non-null   float64
 80  TOTALMANUALDISCOUNTPERCENTAGE  5511 non-null   float64
 81  CUSTACCOUNTASYNC               5511 non-null   object
 82  CUSTOMERORDERMODE              5511 non-null   int64
 83  CUSTOMERORDERTYPE              5511 non-null   int64
 84  SUBTYPE                        5511 non-null   int64
 85  TAXCALCULATIONTYPE             5511 non-null   int64
 86  MODIFIEDDATETIME               5511 non-null   datetime64[ns]
 87  DEL_MODIFIEDTIME               5511 non-null   int64
 88  MODIFIEDBY                     5511 non-null   object
 89  CREATEDDATETIME                5511 non-null   datetime64[ns]
 90  DEL_CREATEDTIME                5511 non-null   int64
 91  CREATEDBY                      5511 non-null   object
 92  DATAAREAID                     5511 non-null   object
 93  RECVERSION                     5511 non-null   int64
 94  PARTITION                      5511 non-null   int64
 95  RECID                          5511 non-null   int64
dtypes: datetime64[ns](7), float64(19), int64(35), object(35)
memory usage: 4.0+ MB

In [125]:
df.iloc[1, 1]

'1002_8-1002_8_01-1001'

In [126]:
s = df.iloc[1, :-1]

In [127]:
import numpy as np

In [128]:
np.dtype(s[1])

ValueError: format number 1 of "1002_8-1002_8_01-1001" is not recognized

In [129]:
df["WRONGSHIFT"].dtype

dtype('int64')

In [130]:
for i in df.columns:
    print(i)

INVOICEID
TRANSACTIONID
TYPE
RECEIPTID
STORE
TERMINAL
STAFF
TRANSDATE
TRANSTIME
SHIFT
SHIFTDATE
WRONGSHIFT
INFOCODEDISCGROUP
CUSTACCOUNT
TRANSCODE
SALESPAYMENTDIFFERENCE
NETAMOUNT
COSTAMOUNT
GROSSAMOUNT
PAYMENTAMOUNT
DISCAMOUNT
CUSTDISCAMOUNT
TOTALDISCAMOUNT
NUMBEROFITEMS
AMOUNTTOACCOUNT
ROUNDEDAMOUNT
ENTRYSTATUS
NUMBEROFINVOICES
NUMBEROFITEMLINES
STATEMENTCODE
STATEMENTID
REFUNDRECEIPTID
INCOMEEXPENSEAMOUNT
TOACCOUNT
NUMBEROFPAYMENTLINES
SALEISRETURNSALE
COUNTER
TIMEWHENTOTALPRESSED
TIMEWHENTRANSCLOSED
CURRENCY
TRANSTABLEID
OPENDRAWER
REPLICATED
INCLUDEDINSTATISTICS
RETRIEVEDFROMRECEIPTID
CREATEDONPOSTERMINAL
POSTASSHIPMENT
ITEMSPOSTED
REPLICATIONCOUNTERFROMORIGIN
SELLTOCONTACTID
LOYALTYCARDID
CUSTPURCHASEORDER
COMMENT_
SALESORDERAMOUNT
SALESINVOICEAMOUNT
RECEIPTEMAIL
RECEIPTEMAILSENT
EXCHRATE
SALESORDERID
BATCHID
BATCHTERMINALID
BUSINESSDATE
CHANNEL
CHANNELREFERENCEID
CREATEDOFFLINE
DEFAULTDIMENSION
DESCRIPTION
DLVMODE
FISCALDOCUMENTID
FISCALSERIALID
INVENTLOCATIONID
INVENTSITEID
INVOICECOMMENT
LOGISTICSPOSTALADDRESS
LOYALTYDISCAMOUNT_RU
ORIGIN
RECEIPTDATEREQUESTED
SHIPPINGDATEREQUESTED
SKIPAGGREGATION
TOTALMANUALDISCOUNTAMOUNT
TOTALMANUALDISCOUNTPERCENTAGE
CUSTACCOUNTASYNC
CUSTOMERORDERMODE
CUSTOMERORDERTYPE
SUBTYPE
TAXCALCULATIONTYPE
MODIFIEDDATETIME
DEL_MODIFIEDTIME
MODIFIEDBY
CREATEDDATETIME
DEL_CREATEDTIME
CREATEDBY
DATAAREAID
RECVERSION
PARTITION
RECID

In [131]:
df.columns[0]

'INVOICEID'

In [132]:
dict = {}
for i in df.columns:
    dict[i] = ''

In [133]:
i = 0
for key, value in dict.items():
    dict[key] = i * i+1
    i += 1

In [134]:
dict

{'INVOICEID': 1,
 'TRANSACTIONID': 2,
 'TYPE': 5,
 'RECEIPTID': 10,
 'STORE': 17,
 'TERMINAL': 26,
 'STAFF': 37,
 'TRANSDATE': 50,
 'TRANSTIME': 65,
 'SHIFT': 82,
 'SHIFTDATE': 101,
 'WRONGSHIFT': 122,
 'INFOCODEDISCGROUP': 145,
 'CUSTACCOUNT': 170,
 'TRANSCODE': 197,
 'SALESPAYMENTDIFFERENCE': 226,
 'NETAMOUNT': 257,
 'COSTAMOUNT': 290,
 'GROSSAMOUNT': 325,
 'PAYMENTAMOUNT': 362,
 'DISCAMOUNT': 401,
 'CUSTDISCAMOUNT': 442,
 'TOTALDISCAMOUNT': 485,
 'NUMBEROFITEMS': 530,
 'AMOUNTTOACCOUNT': 577,
 'ROUNDEDAMOUNT': 626,
 'ENTRYSTATUS': 677,
 'NUMBEROFINVOICES': 730,
 'NUMBEROFITEMLINES': 785,
 'STATEMENTCODE': 842,
 'STATEMENTID': 901,
 'REFUNDRECEIPTID': 962,
 'INCOMEEXPENSEAMOUNT': 1025,
 'TOACCOUNT': 1090,
 'NUMBEROFPAYMENTLINES': 1157,
 'SALEISRETURNSALE': 1226,
 'COUNTER': 1297,
 'TIMEWHENTOTALPRESSED': 1370,
 'TIMEWHENTRANSCLOSED': 1445,
 'CURRENCY': 1522,
 'TRANSTABLEID': 1601,
 'OPENDRAWER': 1682,
 'REPLICATED': 1765,
 'INCLUDEDINSTATISTICS': 1850,
 'RETRIEVEDFROMRECEIPTID': 1937,
 'CREATEDONPOSTERMINAL': 2026,
 'POSTASSHIPMENT': 2117,
 'ITEMSPOSTED': 2210,
 'REPLICATIONCOUNTERFROMORIGIN': 2305,
 'SELLTOCONTACTID': 2402,
 'LOYALTYCARDID': 2501,
 'CUSTPURCHASEORDER': 2602,
 'COMMENT_': 2705,
 'SALESORDERAMOUNT': 2810,
 'SALESINVOICEAMOUNT': 2917,
 'RECEIPTEMAIL': 3026,
 'RECEIPTEMAILSENT': 3137,
 'EXCHRATE': 3250,
 'SALESORDERID': 3365,
 'BATCHID': 3482,
 'BATCHTERMINALID': 3601,
 'BUSINESSDATE': 3722,
 'CHANNEL': 3845,
 'CHANNELREFERENCEID': 3970,
 'CREATEDOFFLINE': 4097,
 'DEFAULTDIMENSION': 4226,
 'DESCRIPTION': 4357,
 'DLVMODE': 4490,
 'FISCALDOCUMENTID': 4625,
 'FISCALSERIALID': 4762,
 'INVENTLOCATIONID': 4901,
 'INVENTSITEID': 5042,
 'INVOICECOMMENT': 5185,
 'LOGISTICSPOSTALADDRESS': 5330,
 'LOYALTYDISCAMOUNT_RU': 5477,
 'ORIGIN': 5626,
 'RECEIPTDATEREQUESTED': 5777,
 'SHIPPINGDATEREQUESTED': 5930,
 'SKIPAGGREGATION': 6085,
 'TOTALMANUALDISCOUNTAMOUNT': 6242,
 'TOTALMANUALDISCOUNTPERCENTAGE': 6401,
 'CUSTACCOUNTASYNC': 6562,
 'CUSTOMERORDERMODE': 6725,
 'CUSTOMERORDERTYPE': 6890,
 'SUBTYPE': 7057,
 'TAXCALCULATIONTYPE': 7226,
 'MODIFIEDDATETIME': 7397,
 'DEL_MODIFIEDTIME': 7570,
 'MODIFIEDBY': 7745,
 'CREATEDDATETIME': 7922,
 'DEL_CREATEDTIME': 8101,
 'CREATEDBY': 8282,
 'DATAAREAID': 8465,
 'RECVERSION': 8650,
 'PARTITION': 8837,
 'RECID': 9026}

In [135]:
list_item = range(0,10,2)

In [136]:
list_item[3]

6

In [137]:
[i for i in list_item]

[0, 2, 4, 6, 8]

In [138]:
server = 'tcp:localhost,1433'
database = 'MicrosoftDynamicsAX'
username = 'sa'
password = 'testpassword'

In [139]:
from IDBs import InitDatabase

init_db = InitDatabase(database, username, password)

ImportError: cannot import name 'InitDatabase' from 'IDBs' (C:\Users\mohse\Documents\dev\python_projects\project03\IDBs.py)

In [140]:
import numpy as np

In [147]:
np.random.randint(0, 10)

3